body {
    background:#121212;
    color:#fafafa;
    font-size:12px;
    font-family: 'Roboto', sans-serif;
    > main {
        font-size:0;
        overflow:hidden;
        height:100vh;
        > section {
            font-size:1rem;
            display:inline-block;
            width:calc(100%/3);
            vertical-align: top;
            position:relative;
            height:100%;
            box-shadow: 0 0 150px 40px #121212 inset;
            background:darkred;
            > header {
                text-align:center;
                position:relative;
                top:50%;
                transform:translateY(-50%);
                font-size:1.5rem;
                text-transform:uppercase;
                letter-spacing:1px;
                opacity:0.2;
                transition:all ease 0.5s;
            }
        }
        > section:hover {
            > header {
                opacity:1;
            }
        }
    }
}
